body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    /*background-color: #4c4c4c;*/
     background-image: url("./themes/base/images/pattern.png");
    background-repeat: repeat;
    text-align: right;
    height: 100%;
}

header, footer, nav, section {
    display: block;
    height: 10%
}

#top{
    width: auto; 
    background-color: green;
    height: 30px;
    font-size: 18px;
}

#limit, #limits{
    text-align:right;
    color:white;
}

#coursesList {
    text-align:right;
}

#ddlDepart, #ddlYears, #ddlSemester{
    text-align:right;
    direction:rtl;
}

#timeTable{
    width: 90%;
}
#hours{
    float:right;
    width: 5%;
}
.hours{
    overflow: hidden;
    border: 1px solid;
    height:35px;
}
.days{
    float:right;
    width: 15%;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#ddlDepart, #ddlYears, #coursesList, #limit{
    margin-right: 50px;
    margin-top:15px;
    font-size: 14px;
    text-align: right;
    border-collapse: collapse;
} 

#limit{
    width:70%;
    height:350px;
}

#addRemoveCourses{
    /*margin-right: 20px;*/
}

#carousel{
    margin-top: 0px;
}

footer {
    margin-left: 0px;
    margin-right: auto;
    width:70%;
    font: 140% 'News Cycle', arial, sans-serif;
    height: 28px;
    padding: 1px 0 25px 0;
    color: #222;
    text-align: center;
    background: #ddd;
    
}

#logoimg {
    overflow:auto; 
}

#copyr {
    float:left;
    width:70%;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    /*height: 100%;*/
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:right;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#ddd;
            font-size:18px;
            font-weight:600;
            color:black;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#55624c;
            text-decoration:none;
            color:#8aed76;
        }
 
    li.active a, li.active a:hover {
        background:#55624c;
        color:white;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        /*padding-top:5%;*/
        /*padding-bottom:20%;*/
        border-radius:10px;
        margin-left: auto;
        margin-right: auto;
        width:60%;
        background-color:#575c54;
        height:400px;
    }
 
    .tab {
         display:none;
    }
 
    .tab.active {
         display:block;
    }

/*Dialog*/

.web_dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .15;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.web_dialog {
    display: none;
    position: fixed;
    width: 400px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 0;
    z-index: 102;
    font: 140% 'News Cycle', arial, sans-serif;
    font-size: 12pt;
}

.web_dialog_title {
    border-bottom: solid 2px black;
    background-color: green;
    padding: 4px;
    color: White;
    font-weight: bold;
}

    .web_dialog_title a {
        color: White;
        text-decoration: none;
    }


.align_right {
    text-align: left;
}

