@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:right">  "Smart TimeTable" ברוכים הבאים ל</h2>
<img src="@Url.Content("~/Content/themes/base/images/tt.png")" alt="Image" />